<!-- <ul>
  <li>
      <a routerLink=" /add-book">Add Book</a>
  </li>
  <li>
      <a routerLink="/edit-book">Edit Book</a>
  </li>
  <li>
     <a routerLink="/view-single-book">View Single Book</a>
  </li>
  <li>
     <a routerLink ="/view-all-books">View All Books</a>
  </li>
  <li>
    <a routerLink ="/delete-book">Delete Book</a>
 </li>
</ul>
<router-outlet></router-outlet> -->
<!-- <app-gmail></app-gmail> -->
<!-- <app-happy-sad></app-happy-sad> -->
<!-- <p>the average of the numbers is {{10|compoundInterest:20:30:40}}</p> -->
<!-- <p>the compound interest is {{100000|compound:12:4:100|number:'1.2-2'}}</p> -->
<!-- <p>the compound interest is {{1000|compound:100:3:4|number:'1.2-2'}} </p> -->
<!-- <p>the square root is {{2|squareRoot|number:'1.2-2'}}</p> -->
<!-- <p>the given number is  {{153|armstrong}}</p> -->
<app-transfer></app-transfer>